# Pre-EDA Cleaning for Scripts

In [1]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
%cd ..

'/Users/terencerustia/Documents/Data Science/Long Beach Policing Analysis/cleaning_notebooks'

In [2]:
# %cd Long\ Beach\ Policing\ Analysis

In [3]:
df = pd.read_csv('./processed_data/PROCESSED_0_to_5.csv', dtype=object)

FileNotFoundError: [Errno 2] No such file or directory: './processed_data/PROCESSED_0_to_5.csv'

In [8]:
df.head()

,ObjectId_x,StopID,stopDate,stopTime,stopDuration,stopInResponseToCFS,blockNumber,street,intersection,highwayExit,...,reasonForStopcode,reasonForStopCodeText,ObjectId_x.2,actionTakenDuringStop,personSearchConsentGiven,propertySearchConsentGiven,ObjectId_y.2,resultOfStop,resultOfStopcode,resultOfStopcodeText
0,1,5875,2019/01/01 00:00:00,2020/06/26 07:41:59,5,0,200.0,E First St,NaN,NaN,...,54153,21453(D) VC - PED AGAINST RED LIGHT/ETC (I) 54153,17,Curbside detention,NaN,NaN,47,Citation for infraction,54153,21453(D) VC - PED AGAINST RED LIGHT/ETC (I) 54153
1,2,5782,2019/01/01 00:00:00,2020/06/26 00:04:59,5,1,5900.0,Long Beach Blvd,NaN,NaN,...,38021,273(A) PC - ILLEGAL PAY FOR ADOPTION (M) 38021,3,Curbside detention,NaN,NaN,1,Field interview card completed,NaN,NaN
2,3,5876,2019/01/01 00:00:00,2020/06/26 18:17:00,4,0,6600.0,Butler Ave,NaN,NaN,...,54106,22350 VC - UNSAFE SPEED:PREVAIL COND (I) 54106,22,None,NaN,NaN,51,No Action,NaN,NaN
3,4,5877,2019/01/01 00:00:00,2020/06/26 18:25:35,10,1,900.0,E anaheim,NaN,NaN,...,0,NaN,24,None,NaN,NaN,55,No Action,NaN,NaN
4,5,5785,2019/01/01 00:00:00,2020/06/26 01:04:00,16,0,4800.0,Vista street,NaN,NaN,...,65002,65002 ZZ - LOCAL ORDINANCE VIOL (I) 65002,8,None,NaN,NaN,5,Citation for infraction,65000,65000 ZZ - LOCAL ORDINANCE VIOL (M) 65000

## df0: Clean date and time columns:

In [9]:
def clean_date_time(df):
    df['stopDate'] = pd.to_datetime(df['stopDate']).dt.date
    df['stopTime'] = pd.to_datetime(df['stopTime']).dt.time

In [10]:
clean_date_time(df)

In [11]:
df.head()

,ObjectId_x,StopID,stopDate,stopTime,stopDuration,stopInResponseToCFS,blockNumber,street,intersection,highwayExit,...,reasonForStopcode,reasonForStopCodeText,ObjectId_x.2,actionTakenDuringStop,personSearchConsentGiven,propertySearchConsentGiven,ObjectId_y.2,resultOfStop,resultOfStopcode,resultOfStopcodeText
0,1,5875,2019-01-01,07:41:59,5,0,200.0,E First St,NaN,NaN,...,54153,21453(D) VC - PED AGAINST RED LIGHT/ETC (I) 54153,17,Curbside detention,NaN,NaN,47,Citation for infraction,54153,21453(D) VC - PED AGAINST RED LIGHT/ETC (I) 54153
1,2,5782,2019-01-01,00:04:59,5,1,5900.0,Long Beach Blvd,NaN,NaN,...,38021,273(A) PC - ILLEGAL PAY FOR ADOPTION (M) 38021,3,Curbside detention,NaN,NaN,1,Field interview card completed,NaN,NaN
2,3,5876,2019-01-01,18:17:00,4,0,6600.0,Butler Ave,NaN,NaN,...,54106,22350 VC - UNSAFE SPEED:PREVAIL COND (I) 54106,22,None,NaN,NaN,51,No Action,NaN,NaN
3,4,5877,2019-01-01,18:25:35,10,1,900.0,E anaheim,NaN,NaN,...,0,NaN,24,None,NaN,NaN,55,No Action,NaN,NaN
4,5,5785,2019-01-01,01:04:00,16,0,4800.0,Vista street,NaN,NaN,...,65002,65002 ZZ - LOCAL ORDINANCE VIOL (I) 65002,8,None,NaN,NaN,5,Citation for infraction,65000,65000 ZZ - LOCAL ORDINANCE VIOL (M) 65000

## Remove excess ObjectId columns:

In [12]:
def remove_objectId(df):
    cols = list(df.filter(regex='ObjectId').columns)
    df.drop(cols, axis=1, inplace=True)

In [13]:
remove_objectId(df)
df.head()

,StopID,stopDate,stopTime,stopDuration,stopInResponseToCFS,blockNumber,street,intersection,highwayExit,landMark,...,reasonForStop,reasonForStopDetail,reasonForStopcode,reasonForStopCodeText,actionTakenDuringStop,personSearchConsentGiven,propertySearchConsentGiven,resultOfStop,resultOfStopcode,resultOfStopcodeText
0,5875,2019-01-01,07:41:59,5,0,200.0,E First St,NaN,NaN,NaN,...,Traffic Violation,Moving Violation,54153,21453(D) VC - PED AGAINST RED LIGHT/ETC (I) 54153,Curbside detention,NaN,NaN,Citation for infraction,54153,21453(D) VC - PED AGAINST RED LIGHT/ETC (I) 54153
1,5782,2019-01-01,00:04:59,5,1,5900.0,Long Beach Blvd,NaN,NaN,NaN,...,Reasonable Suspicion,Other Reasonable Suspicion of a crime,38021,273(A) PC - ILLEGAL PAY FOR ADOPTION (M) 38021,Curbside detention,NaN,NaN,Field interview card completed,NaN,NaN
2,5876,2019-01-01,18:17:00,4,0,6600.0,Butler Ave,NaN,NaN,NaN,...,Traffic Violation,Moving Violation,54106,22350 VC - UNSAFE SPEED:PREVAIL COND (I) 54106,None,NaN,NaN,No Action,NaN,NaN
3,5877,2019-01-01,18:25:35,10,1,900.0,E anaheim,NaN,NaN,NaN,...,Knowledge of outstanding arrest warrant/wanted...,NaN,0,NaN,None,NaN,NaN,No Action,NaN,NaN
4,5785,2019-01-01,01:04:00,16,0,4800.0,Vista street,NaN,NaN,NaN,...,Reasonable Suspicion,Other Reasonable Suspicion of a crime,65002,65002 ZZ - LOCAL ORDINANCE VIOL (I) 65002,None,NaN,NaN,Citation for infraction,65000,65000 ZZ - LOCAL ORDINANCE VIOL (M) 65000

In [26]:
df.columns

Index(['StopID', 'stopDate', 'stopTime', 'stopDuration', 'stopInResponseToCFS',
       'blockNumber', 'street', 'intersection', 'highwayExit', 'landMark',
       'city', 'isSchool', 'schoolName', 'PID', 'isStudent', 'perceivedAge',
       'perceivedGender', 'genderNonconforming', 'perceivedLgbt',
       'perceivedLimitedEnglish', 'perceivedRace',
       'perceivedOrKnownDisability', 'reasonForStop', 'reasonForStopDetail',
       'reasonForStopcode', 'reasonForStopCodeText', 'actionTakenDuringStop',
       'personSearchConsentGiven', 'propertySearchConsentGiven',
       'resultOfStop', 'resultOfStopcode', 'resultOfStopcodeText'],
      dtype='object')

## Drop other unneeded columns:

In [27]:
def drop_others(df):
    cols = ['highwayExit','isSchool', 'schoolName', 'isStudent']
    df.drop(cols, axis=1, inplace=True)

In [28]:
drop_others(df)
df.columns

Index(['StopID', 'stopDate', 'stopTime', 'stopDuration', 'stopInResponseToCFS',
       'blockNumber', 'street', 'intersection', 'landMark', 'city', 'PID',
       'perceivedAge', 'perceivedGender', 'genderNonconforming',
       'perceivedLgbt', 'perceivedLimitedEnglish', 'perceivedRace',
       'perceivedOrKnownDisability', 'reasonForStop', 'reasonForStopDetail',
       'reasonForStopcode', 'reasonForStopCodeText', 'actionTakenDuringStop',
       'personSearchConsentGiven', 'propertySearchConsentGiven',
       'resultOfStop', 'resultOfStopcode', 'resultOfStopcodeText'],
      dtype='object')

In [83]:
def drop_stop_text(df):
    stop_text_cols = ['reasonForStopcode', 'reasonForStopCodeText','resultOfStopcode', 'resultOfStopcodeText']
    df.drop(stop_text_cols, axis=1, inplace=True)

In [84]:
drop_stop_text(df)

## Race: Cast unique responses into new columns
* Our main dataframe has 40523 unique stops, we need to create dummy variables so as not to falsely create duplicates

In [128]:
pd.read_csv('./raw_data/0. mainStopDateTime.csv').shape

/Users/terencerustia/opt/anaconda3/envs/lbpd_acab_env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(40523, 21)

In [111]:
# TABLE 1 - Race data
df_race = pd.read_csv('./raw_data/1. perceivedRace.csv')

In [112]:
df_race.head()

,properties.ObjectId,properties.StopID,properties.PID,properties.perceivedRace
0,1,5782,1,White
1,2,5785,1,White
2,3,5786,1,White
3,4,5787,1,Asian
4,5,5787,1,Black

In [125]:
df_race.rename(columns=lambda x: re.sub('properties.', '', x), inplace=True)

In [131]:
df_race = pd.get_dummies(df_race).groupby(['StopID', 'PID']).sum().rename(columns=lambda x: re.sub('perceivedRace_', 'perceived_', x))

In [132]:
df_race.head()

,,ObjectId,perceived_Asian,perceived_Black,perceived_Hispanic,perceived_Middle Eastern or South Asian,perceived_Native American,perceived_Pacific Islander,perceived_White
StopID,PID,,,,,,,,
5782,1,1,0,0,0,0,0,0,1
5785,1,2,0,0,0,0,0,0,1
5786,1,3,0,0,0,0,0,0,1
5787,1,49,1,1,1,1,1,1,1
5788,1,11,0,0,0,0,0,0,1

## Clean Disability Table:

In [1]:
disability_df = pd.read_csv('./raw_data/2. perceivedKnownDisability.csv')
disability_df.head(3)

NameError: name 'pd' is not defined

In [154]:
disability_df.rename(columns= lambda x: re.sub('properties.', '', x), inplace=True)
disability_df.rename(columns= lambda x: re.sub('perceivedOrKnown', '', x), inplace=True)
disability_df.head(3)

   ObjectId  StopID  PID Disability
0         1    5782    1       None
1         2    5785    1       None
2         3    5786    1       None

In [149]:
disability_df['Disability'].unique()

array(['None', 'Mental health condition',
       'Speech impairment or limited use of language', 'Other disability',
       'Deafness or difficulty hearing', 'Blind or limited vision',
       'Intellectual or developmental disability, including dementia'],
      dtype=object)

In [150]:
disability_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40585 entries, 0 to 40584
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ObjectId    40585 non-null  int64
 1   StopID      40585 non-null  int64
 2   PID         40585 non-null  int64
 3   Disability  40585 non-null  object
dtypes: int64(3), object(1)
memory usage: 1.2+ MB

In [155]:
disability_df = pd.get_dummies(disability_df)
disability_df.drop('Disability_None', axis=1, inplace=True)
disability_df.rename(columns=lambda x: re.sub('Disability_', 'DA_', x), inplace=True)
disability_df.head()

,ObjectId,StopID,PID,DA_Blind or limited vision,DA_Deafness or difficulty hearing,"DA_Intellectual or developmental disability, including dementia",DA_Mental health condition,DA_Other disability,DA_Speech impairment or limited use of language
0,1,5782,1,0,0,0,0,0,0
1,2,5785,1,0,0,0,0,0,0
2,3,5786,1,0,0,0,0,0,0
3,4,5787,1,0,0,0,0,0,0
4,5,5788,1,0,0,0,0,0,0

In [ ]:
# Cleaning function
def